.img {
    background-image: url('./profileimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}
.intro {
    font-size: 20px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 1px;
}
.para2 {
    font-size: 40px;
    margin-top: 1px;
    margin-bottom: 2px;
    color: white;
}
.myimg {
    float: right;
    border-radius: 50%;
}
.sector {
    position: relative;
    cursor: pointer;
    border-bottom: 2px dotted;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    font-family: italic;
    background-color: yellow;
    color: red;
    display: inline-block;
    margin: 10px;
}
.inside {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: blue;
    color: yellow;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.inside::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -5px;
    align-items:center;
    justify-content:center;
    border-width: 8px;
    border-style: solid;
    border-color:  blue transparent transparent transparent;
}
.sector:hover .inside {
    top: 120%;
    visibility: visible;
    opacity: 1;
}
.display {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
